
<%- include('header') %> 

<section id="erro" class="section-content padding-y mb-5" style="min-height:50vh;">
    <div class="row">
        <div class="col-lg-5 col-md-8 col-sm-12 text-center mx-auto mb-5">
            <h1>Ocorreu um erro para gerar a URL</h1>
            <p>A <b>URL não é válida</b>, por favor, tente novamente.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-5 col-md-8 col-sm-12 mx-auto mb-5"  >
            <div class="col-lg-5 col-md-8 col-sm-12 mx-auto mb-5" >
                <button class="btn btn-block btn-lg">
                    <a id="btnRetornar" href="/" >Volte e tente novamente</a>
                </button>  
            </div>
        </div>
    </div>
    
</section>
<%- include('footer') %> 