<!-- ========================= FOOTER ========================= -->
<footer id="footer" class="section-footer bg-secondary">
	<div class="container">
		<section class="footer-top padding-top">
			<div class="row">
				<aside class="col-sm-3 col-md-3 white">
					<h5 class="title">Minhas redes sociais e contatos</h5>
					<ul class="list-unstyled">
						<li> <a target="_blank" href="https://www.linkedin.com/in/marcos-gray-medeiros-moura-4440a229/">LinkedIn</a></li>
						<li> <a target="_blank" href="https://github.com/MarcosGray">Github</a></li>						
					</ul>
				</aside>			
				
				<aside class="col-sm-3">
					<article class="white">
						<h5 class="title">Meus contatos</h5>
						<p>
							<strong>Celular: </strong> (41) 9 9148-6148 (WhatsApp)<br> 
							<strong>Skype:</strong> MarcosGray<br> 
							<strong>E-mail:</strong> marcosgray@gmail.com<br> 
						</p>

						 <div class="btn-group white">
						    <a class="btn btn-facebook" title="Facebook" target="_blank" href="https://www.facebook.com/profile.php?id=100013094352833"><i class="fab fa-facebook-f  fa-fw"></i></a>
						    <a class="btn btn-instagram" title="Instagram" target="_blank" href="https://www.instagram.com/marcosgray/?hl=pt-br"><i class="fab fa-instagram  fa-fw"></i></a>
						    <!-- <a class="btn btn-youtube" title="Youtube" target="_blank" href="#"><i class="fab fa-youtube  fa-fw"></i></a> -->
						    <a class="btn btn-twitter" title="Twitter" target="_blank" href="https://twitter.com/MarcosGray"><i class="fab fa-twitter  fa-fw"></i></a>
						</div>
					</article>
				</aside>
			</div> <!-- row.// -->
			<br> 
		</section>
		<section class="footer-bottom row border-top-white">
			<div class="col-sm-6"> 
				<p class="text-white-50"> Made with <3 <br>  by Marcos Gray</p>
			</div>
			<div class="col-sm-6 text-right">
				<p class="text-sm-right text-white-50">
					Copyright &copy 2020 <br>
				</p>
			</div>
		</section> <!-- //footer-top -->
	</div><!-- //container -->
</footer>
<!-- ========================= FOOTER END // ========================= -->


</body>
</html>