body{
    background-color: #F3F2EE !important; 
}

#header{
    background-color: #204161 !important;
}

#home {
    /* background-image: url("./images/homeoffice.jpg");     */
    background-color: #895679 !important;
    /* width: 100%;
    height: 100%; */
}

#footer{
    background-color: #204161 !important;
}

button{
    background-color: #6A2957 !important;
    color: white;
}



#btnRetornar{
    color: #F3F2EE !important;
}

#erro{
    padding: 7em; 
}

